<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xufucun.music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NowPlayActivity"
            android:label="正在播放"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:label="查找音乐"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AlbumActivity"
            android:parentActivityName=".MainActivity"
            android:label="歌手详情" />
    </application>

</manifest>